@font-face {
    font-family: "Roboto";
    src: url("./fonts/Roboto.ttf");
}

@font-face {
    font-family: "Nova";
    src: url("./fonts/NovaSquare-Regular.ttf");
}


* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    box-sizing: border-box;
}

body {
    background-color: rgb(248, 243, 237);
}

.homepage-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

.title-wrapper {
    margin-top: 3rem;
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 4rem;
}

.title-wrapper .text-bg {
    font-size: 55px;
    font-weight: 700;
    background: linear-gradient(90deg, #dc2de2, #7736f9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.title-wrapper .text-sm {
    font-size: 16px;
    color: gray;
}

.homepage-wrapper .form-wrapper {
    background-color: aliceblue;
    width: 80%;
    padding: 5rem;
    box-shadow: inset 0px 0px 10px gray;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homepage-wrapper .form-wrapper .uploaded-images {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content:center;
    flex-wrap: wrap;
    height: fit-content;
    margin-bottom: 40px;
}

.homepage-wrapper .form-wrapper .uploaded-images img {
    width: 200px;
    max-height: 250px;
    height: fit-content;
    object-fit: contain;
}



.homepage-wrapper .form-wrapper textarea {
    width: 70%;
    color: gray;
    border: none;
    outline: none;
    box-shadow: 0px 0px 3px gray;
    border-radius: 8px;
    padding: 20px;
    font-size: 22px;
    letter-spacing: 3px;
    resize: none;
    font-family: 'Nova';
}

.homepage-wrapper .form-wrapper label {
    width: 70%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: gray;
    border: 2px dotted gray;
    border-radius: 15px;
    padding: 40px;
    margin-bottom: 20px;
    cursor: pointer;
}

.homepage-wrapper .form-wrapper label i {
    font-size: 50px;
    
}

.homepage-wrapper .form-wrapper .submit-btn {
    width: 70%;
    margin-top: 15px;
    border: none;
    outline: none;
    color: white;
    padding: 8px;
    border-radius: 10px;
    font-size: 17px;
    cursor: pointer;
    background: linear-gradient( 90deg, #dc2de2, #7736f9);
}

.homepage-wrapper .form-wrapper .submit-btn:hover {
    cursor: pointer;
    box-shadow: 0px 0px 3px gray;
}

.homepage-wrapper .form-wrapper .submit-btn:active {
    opacity: .7;
}











